.header-top
  .header-menu
    %p.title  Photo　Ring　Community
    
    %ul.header-menu__list
      
      %li.header-menu__list__photo     
        .photo
          = link_to "Photo list", "/photos/show", class:"photo-t"
          
      %li.header-menu__list__sachi
        -#  検索機能つけます
        %input.sachi-bar{type: "text", placeholder: "\uf002 写真をさがす", class: 'fa'}
          
      %li.header-menu__list__login
        - if user_signed_in?
          = link_to "my page", "#", class:"login-t"
          ＊ 
          = link_to "Log out", destroy_user_session_path, method: :delete, class: "login-t"
        - else
          = link_to "Login", new_user_session_path, class: "login-t"
          ＊ 
          = link_to "sign up", new_user_registration_path, class: "login-t"
