.top
  = render '/tops/header'

  .photos-list
    .photos-list__img
      -# 画像がいるかどうか
      -# - if @photo.image?
      -#   = image_tag @photo.image.url
      -# - else
      -#   %i.fas.fa-camera.fa-3x.white

    = form_for [@photo] do |f|
    
      -# 画像選択
      .photo-form
        =f.label :image do
          %i.fas.fa-camera.fa-3x
          = f.file_field :image, class: "file_btn"

      -# 画像のタイトル
      .form-list
        = f.text_field :name, class: "photos-list__title", placeholder: 'Photoタイトル'
        -#  カテゴリー選択
        = f.text_field :categorie, placeholder: "カテゴリーを選ぶ", class: "photos-list__categories"
        -#  投稿ボタン
        = f.submit "Photo投稿", class: "form-btn" 